[submodule "src/github.com/julienschmidt/httprouter"]
	path = src/github.com/julienschmidt/httprouter
	url =  https://github.com/julienschmidt/httprouter.git
[submodule "src/github.com/jinzhu/gorm"]
	path = src/github.com/jinzhu/gorm
	url = https://github.com/jinzhu/gorm.git
[submodule "src/github.com/go-sql-driver/mysql"]
	path = src/github.com/go-sql-driver/mysql
	url = https://github.com/go-sql-driver/mysql.git
[submodule "src/github.com/jinzhu/inflection"]
	path = src/github.com/jinzhu/inflection
	url = https://github.com/jinzhu/inflection.git
[submodule "src/github.com/dgrijalva/jwt-go"]
	path = src/github.com/dgrijalva/jwt-go
	url = https://github.com/dgrijalva/jwt-go.git
