name: tests

on:
  pull_request:
    branches: [pull_request]
    types: [opened, synchronize, reopened]

jobs:
  build:
    runs-on: ubuntu-24.04
    services:
       mariadb:
        image: mariadb:latest   
        ports:
          - 3306:3306
        env:
          MARIADB_USER: root
          MARIADB_ROOT_PASSWORD: password
        options: --health-cmd="healthcheck.sh --connect --innodb_initialized" --health-interval=10s --health-timeout=5s --health-retries=3
       redis:
        image: redis
        ports:
          - 6379:6379
        options: --health-cmd "redis-cli ping" --health-interval 10s  --health-timeout 5s --health-retries 5
        
    steps:
    - uses: actions/checkout@v2

    - name: init-mysql-data
      run: |
        mysql -h 127.0.0.1 -P 3306 -u root -ppassword << "EOF"
        CREATE DATABASE IF NOT EXISTS test DEFAULT CHARSET utf8mb4;
        CREATE USER IF NOT EXISTS 'test'@'%' IDENTIFIED BY 'password';
        GRANT ALL PRIVILEGES ON test.* TO 'test'@'%';
        FLUSH PRIVILEGES;
        USE test;
        CREATE TABLE IF NOT EXISTS t_test_user (
            `id` INT AUTO_INCREMENT,
            `name` CHAR(64) NOT NULL DEFAULT '' COMMENT '名称',
            `age` INT NOT NULL DEFAULT 0 COMMENT '年龄',
            `createTime` BIGINT NOT NULL DEFAULT 0 COMMENT '创建时间',
            `updateTime` BIGINT NOT NULL DEFAULT 0 COMMENT '更新时间',
            `deleteTime` BIGINT NOT NULL DEFAULT 0 COMMENT '删除时间',
            PRIMARY KEY (`id`)
        ) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COMMENT='用户测试表';
        CREATE TABLE IF NOT EXISTS t_test_class (
            `cid` INT AUTO_INCREMENT COMMENT '班级ID',
            `uid` INT NOT NULL DEFAULT 0 COMMENT '用户ID',
            `name` CHAR(64) NOT NULL DEFAULT '' COMMENT '名称',
            `teacher` CHAR(64) NOT NULL DEFAULT '' COMMENT '教师',
            `createTime` BIGINT NOT NULL DEFAULT 0 COMMENT '创建时间',
            `updateTime` BIGINT NOT NULL DEFAULT 0 COMMENT '更新时间',
            `deleteTime` BIGINT NOT NULL DEFAULT 0 COMMENT '删除时间',
            PRIMARY KEY (`cid`)
        ) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COMMENT='班级表';
        EOF

    - name: go-version
      uses: actions/setup-go@v2
      with:
        go-version: 1.24

    - name: llm
      run: go test -v -count=1 -cover ./llm/
      env:
        CHATGPT_KEY: ${{ vars.CHATGPT_KEY }}
        HUNYUAN_AK: ${{ vars.HUNYUAN_AK }}
        HUNYUAN_SK: ${{ vars.HUNYUAN_SK }}

    - name: mathx
      run: go test -v -count=1 -cover ./mathx/

    - name: netx
      run: go test -v -count=1 -cover ./netx/

    - name: radix
      run: go test -v -count=1 -cover ./radix/

    - name: dht heap
      run: go test -v -count=1 -cover -test.run Test_dht_heap ./dht

    - name: sm3
      run: go test -v -count=1 -cover ./cryptox/sm3

    - name: jwtx
      run: go test -v -count=1 -cover ./cryptox/jwtx

    - name: mfa
      run: go test -v -count=1 -cover ./cryptox/mfa

    - name: sm4
      run: go test -v -count=1 -cover ./cryptox/sm4

    - name: gf
      run: go test -v -count=1 -cover  ./mathx/gf/

    - name: bch
      run: go test -v -count=1 -cover ./mathx/bch/

    - name: rs
      run: go test -v -count=1 -cover ./mathx/rs/

    - name: dbx
      run: go test -v -count=1 -cover ./dbx/
      env:
        COS_AK: ${{ vars.COS_AK }}
        COS_SK: ${{ vars.COS_SK }}

    - name: x
      run: go test -v -count=1 -cover ./x/

    - name: notice
      run: go test -v -count=1 -cover ./notice/
      env:
        SMS_AK: ${{ vars.SMS_AK }}
        SMS_SK: ${{ vars.SMS_SK }}
        SMS_RGN: ${{ vars.SMS_RGN }}
        SMS_SIGN: ${{ vars.SMS_SIGN }}
        SMS_PHONE: ${{ vars.SMS_PHONE }}
        SMS_TMP_ID: ${{ vars.SMS_TMP_ID }}
        SMS_APP_ID: ${{ vars.SMS_APP_ID }}
